/* Thumbnails */

#thumbnails:after {
    content: '';
    display: block;
    clear: both;
}

#thumbnails article {
    float: left;
}


/* Viewer */

#viewer .inner {
    box-shadow: inset 0 0 9em 2em rgba(16, 16, 16, 0.2);
}

#viewer .inner:before {
    display: none;
}

#viewer .slide .caption {
    background-color: rgba(16, 16, 16, 0.5);
}