//
    BingPictrues by xCss
    https://github.com/xCss/bing | xioveliu@gamil.com
meta(charset="UTF-8")
meta(name="author",content="xCss")
meta(name="mobile-web-app-capable",content="yes")
meta(name="apple-mobile-web-app-capable",content="yes")
meta(name="apple-mobile-web-app-status-bar-style",content="black")
meta(content="telephone=no,email=no",name="format-detection")
meta(http-equiv="X-UA-Compatible",content="IE=Edge,Chrome=1")
meta(name="renderer",content="webkit")
meta(property="wb:webmaster",content="4513019856d2091e")
meta(name="google-site-verification",content="fto43W1-4i099gqlMImLOannS1KjzlC5A-a1dnT0iVs")
meta(name="viewport",content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no")
link(rel="stylesheet" type="text/css" href="/static/css/iconfont.css")
link(rel="icon",href="/static/images/bing.ico",sizes="32x32")
script(src='/static/js/js.cookie.js')
<!--[if lte IE 8]>
    script(src="/static/js/html5shiv.js")
    script(src="/static/js/respond.min.js")
<![endif]-->