extends layout

block content
  div#main
    header#header
        h1 #{title}
        p #{description}
        ul.icons
            li
                a.icon.fa-twitter(href='#')
                    span.label Twitter
            li
                a.icon.fa-github(href='#')
                    span.label Github
            li
                a.icon.fa-weibo(href='#')
                    span.label Weibo
            li
                a.icon.fa-envelope(href='#')
                    span.label Mail
    section#thumbnails
        article 
            a.thumbnail(href='http://s.cn.bing.net/az/hprichbg/rb/VaranasiBoat_ZH-CN8290748524_1920x1080.jpg')
                img(src='http://s.cn.bing.net/az/hprichbg/rb/VaranasiBoat_ZH-CN8290748524_1920x1080.jpg')
            h2 Diam tempus accumsan
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            ul.actions
                li
                    a.button.small SHARE
        article 
            a.thumbnail(href='http://s.cn.bing.net/az/hprichbg/rb/VaranasiBoat_ZH-CN8290748524_1920x1080.jpg')
                img(src='http://s.cn.bing.net/az/hprichbg/rb/VaranasiBoat_ZH-CN8290748524_1920x1080.jpg')
            h2 Diam tempus accumsan
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        article 
            a.thumbnail(href='http://s.cn.bing.net/az/hprichbg/rb/VaranasiBoat_ZH-CN8290748524_1920x1080.jpg')
                img(src='http://s.cn.bing.net/az/hprichbg/rb/VaranasiBoat_ZH-CN8290748524_1920x1080.jpg')
            h2 Diam tempus accumsan
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        article 
            a.thumbnail(href='http://s.cn.bing.net/az/hprichbg/rb/VaranasiBoat_ZH-CN8290748524_1920x1080.jpg')
                img(src='http://s.cn.bing.net/az/hprichbg/rb/VaranasiBoat_ZH-CN8290748524_1920x1080.jpg')
            h2 Diam tempus accumsan
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        article 
            a.thumbnail(href='http://s.cn.bing.net/az/hprichbg/rb/VaranasiBoat_ZH-CN8290748524_1920x1080.jpg')
                img(src='http://s.cn.bing.net/az/hprichbg/rb/VaranasiBoat_ZH-CN8290748524_1920x1080.jpg')
            h2 Diam tempus accumsan
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        article 
            a.thumbnail(href='http://s.cn.bing.net/az/hprichbg/rb/VaranasiBoat_ZH-CN8290748524_1920x1080.jpg')
                img(src='http://s.cn.bing.net/az/hprichbg/rb/VaranasiBoat_ZH-CN8290748524_1920x1080.jpg')
            h2 Diam tempus accumsan
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    ul.actions.align-center
        li
            a.button.small &lt;&lt; 上页
            a.button.small 下页 &gt;&gt;
    footer#footer
        ul.copyright
            li 2016 <b>&copy;</b> Bing Pictures.
