doctype html
html
  head
    include common_headers.pug
    - var desc = page.desc || '必应每日壁纸:风景, 这边独好。';
    title #{page.curr} - #{title}
    meta(name="keywords",content="必应壁纸,必应高清壁纸打包下载,必应壁纸合集,必应每日壁纸下载,必应壁纸接口,必应壁纸官方下载,Bing壁纸,微软bing每日壁纸,必应每日壁纸下载,Bing壁纸api,高清壁纸分享,bing壁纸官方下载,必应高清壁纸,必应壁纸打包下载")
    meta(name="description",content=desc)
    link(rel='stylesheet', href='/static/css/common.min.css')
    link(rel='stylesheet', href='/static/css/main.min.css')
    link(rel='stylesheet',href="/static/css/progressively.min.css")
    
  body
    block content


