.container {
    font-size: 0;
    margin: 0 auto;
    position: relative;
}

.container .item {
    display: inline-block;
    width: 33.33%;
    height: auto;
    position: relative;
    border: none;
}

.container .item .card {
    display: block;
    height: 100%;
    background: #dedede;
    position: relative;
    cursor: -webkit-zoom-in;
    cursor: zoom-in;
}

.container .item .card img {
    width: 100%;
    border: 0;
}

.container .item .card .mark {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(0, 0, 0, 0.4)), color-stop(40%, transparent), color-stop(60%, transparent), color-stop(60%, rgba(0, 0, 0, 0.6)));
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.4) 0, transparent 40%, transparent 60%, rgba(0, 0, 0, 0.6));
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0, transparent 40%, transparent 60%, rgba(0, 0, 0, 0.6));
    -webkit-filter: blur(15px);
    filter: blur(15px);
    z-index: 1;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}

.container .item .card .options {
    font-size: .12rem;
    position: absolute;
    right: .05rem;
    bottom: .05rem;
    padding: .05rem;
    display: block;
    text-align: right;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    opacity: 0;
    z-index: 3;
}

.container .item .card .ctrl {
    display: inline-block;
    height: .32rem;
    line-height: .31rem;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid transparent;
    cursor: pointer;
    -webkit-border-radius: .06rem;
    border-radius: .06rem;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
    text-align: center;
    padding: 0 .1rem;
}

.container .item .card .ctrl+.ctrl {
    margin-left: .05rem;
}

.container .item .card .ctrl.heart .icon {
    color: #f15151 !important;
}

.container .item .card .ctrl:hover {
    background: #fff;
}

.container .item .card .t {
    margin-left: .05rem;
    font-style: normal;
}

.container .item .card .description {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    padding: .05rem;
    display: block;
    color: #fff;
    opacity: 0;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    z-index: 1;
    pointer-events: none;
}

.container .item .card .description h3 {
    font-size: .14rem;
    letter-spacing: .01rem;
    font-weight: 400;
    color: #fff;
    padding: .02rem;
}

.container .item .card .description p {
    font-size: .12rem;
}

.container .item .card .description p .icon {
    color: #dedede;
}

.container .item .card .description p .t {
    color: #dedede;
}

.container .item:hover .mark {
    opacity: 1;
}

.container .item:hover .options {
    opacity: 1;
}

.container .item:hover .description {
    opacity: 1;
}

.mobile .mark,
.mobile .options,
.mobile .description {
    opacity: 1 !important;
}

.ctrl.hide {
    display: none;
}

@media only screen and (max-width: 980px) {
    .item {
        width: 50% !important;
    }
}

.page {
    text-align: center;
    padding: .3rem;
}

.page a {
    display: inline-block;
    height: .32rem;
    line-height: .31rem;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid #dedede;
    cursor: pointer;
    -webkit-border-radius: .06rem;
    border-radius: .06rem;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
    text-align: center;
    padding: 0 .1rem;
}

.page span {
    display: inline-block;
    padding: 0 .1rem;
}

.copyright {
    padding-bottom: .3rem;
    text-align: center;
}


/**********************Detail.css***********************/

.detail {
    height: 100vh;
    position: relative;
    background: rgba(1, 1, 1, .5);
}

.detail .mark {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-size: cover;
    background-position: center;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    -webkit-filter: blur(30px);
    filter: blur(20px);
}

.detail .preview img {
    width: 0;
    height: 0;
    border: 0;
}

.detail .preview .progressive {
    background: transparent;
}

.detail .preview .options {
    font-size: .12rem;
    padding: .1rem;
    width: 100%;
    display: block;
    text-align: right;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    position: absolute;
    right: 0;
    top: 0;
}

.detail .preview .ctrl {
    display: inline-block;
    height: .32rem;
    line-height: .31rem;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid transparent;
    cursor: pointer;
    -webkit-border-radius: .06rem;
    border-radius: .06rem;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
    text-align: center;
    padding: 0 .1rem;
}

.detail .preview .ctrl+.ctrl {
    margin-left: .05rem;
}

.detail .preview .ctrl.heart .icon {
    color: #f15151 !important;
}

.detail .preview .ctrl.left {
    left: .15rem;
    top: .1rem;
    position: absolute;
}

.detail .preview .ctrl:hover {
    background: #fff;
}

.detail .preview .ctrl .t {
    font-style: normal;
    margin-left: .05rem;
    display: inline-block;
    vertical-align: top;
}

.detail .preview .description {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: .1rem;
    display: block;
    width: 100%;
    color: #fff;
    background: rgba(1, 1, 1, 0.5);
}

.detail .preview .description .title {
    font-size: .2rem;
}

.detail .preview .description .sub {
    color: #c6cccc;
}

.detail .preview .description .t {
    font-style: normal;
    margin-left: .05rem;
    display: inline-block;
    vertical-align: top;
}

.detail .preview .description .show+.show {
    margin-left: .3rem;
}